<div id="header">
  <div id="logo">
    <h1>Recipes</h1>
  </div>
  <div id="auth">
    <div id="share" (click)="  navigateFavorilist()">
      <img src="assets/favorite.png" alt="Sign In">
      <h2>favoriteRecipes</h2>
    </div>
    <div id="share" (click)="navigateTopeopleRecipe()">
      <img src="assets/share.png" alt="Sign In">
      <h2>people Recipes</h2>
    </div>
    <div id="share" (click)="navigateToShare()">
      <img src="assets/share.png" alt="Sign In">
      <h2>share Recipe</h2>
    </div>
    <div id="sign_in" (click)="navigateToSignIn()">
      <img src="assets/login.png" alt="Sign In">
      <h2>Sign In</h2>
    </div>
    <div id="sign_up" (click)="navigateToSignUp()">
      <img src="assets/signup.png" alt="Sign Up">
      <h2>Sign Up</h2>
    </div>
  </div>
</div>
