<!-- <div class="recipe-list">
  <div class="recipe-card" *ngFor="let recipe of recipes">
    <img [src]="recipe.image" alt="{{ recipe.title }}">
    <h3>{{ recipe.title }}</h3>
  </div>
</div> -->


<!-- <div class="recipe-list">
  <div class="recipe-card" *ngFor="let recipe of recipes" (click)="navigateToRecipeDetail(recipe.id)">
    <img [src]="recipe.image" alt="{{ recipe.title }}">
    <h3>{{ recipe.title }}</h3>
  </div>
</div> -->

<div class="recipe-list">
  <div class="recipe-card" *ngFor="let recipe of recipes" (click)="navigateToRecipeDetail(recipe.id)">
    <img [src]="recipe.image" alt="{{ recipe.title }}">
    <h3>{{ recipe.title }}</h3>
    <!-- Button to add recipe to favorites -->
    <button (click)="addToFavorites(recipe)">Add to Favorites</button>
  </div>
</div>

