#filter {
    width: auto;
    margin-top: 1px;
    height: 40px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
  }
  
  form {
    display: flex;
    margin-left: 15%;
  }
  
  
  label {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    padding: 8px;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s;
  }
  
  input[type="radio"]:checked + label {
    background-color: #969696;
  }
  
  label:hover {
    background-color: #ddd; /* Adjust hover color */
  }
  